/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

/*========== Colors ==========*/
/* Change favorite color */
--hue-color: 47; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

/* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: #000;
    --text-color: #000;
    --line-color: #000;
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: #fff;
    --container-color: #FFF;
    --social-icon-colour: #000;
    --services-container: rgb(165, 165, 165);
    --services-container-second: rgb(94, 94, 94);
    --portfolio-container: rgb(187, 187, 187);
    --portfolio-container-second: rgb(128, 128, 128);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --services-bg: rgba(0, 0, 0, 0.5);
    --swiper-bullet: rgb(75, 75, 75);
    --work-title:rgba(0, 0, 0, 0.65); 

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color:#fff;
    --text-color: #fff;
    --line-color: #fff;
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: #000;
    --container-color:#000; 
    --social-icon-colour: #fff;
    --portfolio-container: rgb(110, 110, 110);
    --portfolio-container-second: rgb(189, 189, 189);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --scroll-bar-color2: rgb(63, 63, 63);
    --services-container: rgb(128, 128, 128);
    --services-container-second: rgb(197, 197, 197);
    --services-bg: rgba(255, 255, 255, 0.5);
    --swiper-bullet: rgb(223, 223, 223);
    --work-title: rgba(255, 255, 255, 0.65);

 
}
/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    margin-right: var(--mb-1);
    cursor: pointer;

}


.change-theme:hover{
    color: #FFC600;
}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #FFC600;
    color: var(--text-color);

}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
   list-style: none; 
}

a{
  text-decoration: none;
  color: var(--text-color); 
}
a:hover{
   color: #FFC600;
   
}

img{
    max-width: 100%;
    height: auto;
}
/*==================== REUSABLE CSS CLASSES ====================*/

.section{
    padding: 2rem 4rem;
}

.section__title{
    font-family: "Righteous";
    color:#FFC600;
    font-size: 40px;
}

.section__subtitle{
    display: block;
    font-size: 17px;
    margin-bottom: var(--mb-3);
    color: var(--body-color);
}

.section__title,
.section__subtitle{
    text-align: center;
    
}

/*==================== LAYOUT ====================*/

.main{
  height: 1400px
}
.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: Var(--body-color);
}
/*==================== NAV ====================*/

.nav{
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--title-color);
  padding-left: 25px;
}
.nav__toggle{
  color: var(--first-color);
  font-weight: var(--font-medium);
  
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  padding-right: 45px;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--text-color);
  
}

.nav__toggle:hover{
  color: var(--first-color);
  
}

@media screen and (max-width: 767px){
  .nav__menu{
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow:  0px -10px 15px rgba(53, 53, 53, 0.2);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: .3s;

  }
}

.nav__list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover{
  color: var(--first-color-alt);
}

/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */
.action-link{
  color: #FFC600;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 5px rgb(128, 128, 128);
}

/*==================== Contact ====================*/
#contact-title{
    font-family: "Righteous";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 60px;
    padding-bottom: 280px;
    
    color: var(--text-color);
}
#contact{
    background-color: var(--body-color);
}

#contact-subtitle{
    display: block;
    font-size: 14px;
    margin-bottom: var(--mb-3);
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    position: relative;
    top: 620px;
    color: var(--body-color);
 
}

.content {
    padding: 7rem 0;
    position: relative;
    top: -600px;
  }
  .text-center{
    color: var(--text-color);
  }
  .heading {
    font-size: 2.5rem;
    font-weight: 900; }
  
  .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; }
  
  .col-form-label {
    color: #000;
    font-size: 13px; }
  
  .btn, .form-control, .custom-select {
    height: 45px;
    border-radius: 0; }
  
  .custom-select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0; }
    .custom-select:active, .custom-select:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; }
  
  .btn {
    border: none;
    border-radius: 0;
    font-size: 11px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border-radius: 30px !important; }
    .btn.btn-primary {
      border-radius: 30px;
      background: #000;
      color: #fff;
      -webkit-box-shadow: 0 15px 30px 0 rgba(77, 128, 228, 0.2);
      box-shadow: 0 15px 30px 0 rgba(77, 128, 228, 0.2); }
    .btn:hover {
      color: #fff; }
    .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    background: #fff; }
    .contact-wrap .col-form-label {
      font-size: 14px;
      color: #b3b3b3;
      margin: 0 0 10px 0;
      display: inline-block;
      padding: 0; }
    .contact-wrap .form, .contact-wrap .contact-info {
      padding: 40px; }
    .contact-wrap .contact-info {
      color: rgba(255, 255, 255, 0.5); }
      .contact-wrap .contact-info ul li {
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.5); }
        .contact-wrap .contact-info ul li .wrap-icon {
          font-size: 20px;
          color: #fff;
          margin-top: 5px; }
    .contact-wrap .form {
      background: #fff; }
      .contact-wrap .form h3 {
        color: var(--text-color);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px; }
    .contact-wrap .contact-info {
      height: 100vh;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      .contact-wrap .contact-info a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      @media (max-width: 1199.98px) {
        .contact-wrap .contact-info {
          height: 400px !important; } }
      .contact-wrap .contact-info h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 30px; }
  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
  
/*--------------------------------------------------------------
# Wave Section
--------------------------------------------------------------*/
#wave
{
  position: relative;
  width: 100%;
  height: 53%;
  top: -720px;
  left: 0px;
}
.wave
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../img/wave1.png");
  background-size: 1000px 100px;
}
.wave.wave1
{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.wave.wave2
{
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave.wave3
{
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.wave.wave4
{
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate
{
  0%
  {
    background-position-x: 0;

  }
  100%
  {
    background-position-x: 1000px;
  }
}
@keyframes animate2
{
  0%
  {
    background-position-x: 0;

  }
  100%
  {
    background-position-x: 1000px;
  }
}
/*==================== FOOTER ====================*/
.footer{
    position:relative;
    bottom: -50px;
}
.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: #FDD33F;
    padding: 2rem 0 0;
}

.footer__title{
    color: #000;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    color: rgb(32, 32, 32);
    font-size: var(--medium-font-size);
}

.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
    color: #000;
    position: relative;
    top: -45px;
}

.footer__social:hover{
    color: #FFF;
}

.footer__name{
    color: #000;
    font-size: var(--medium-font-size);
    text-align: center;
    position: relative;
    top: -13px;
}

.footer__copy{
    color: #000;
    font-size: var(--medium-font-size);
    text-align: center;
    position: relative;
    top: -08px;
    padding-bottom: 10px;
}

/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: 0px;
    background-color: #ffc800dc;
    border: 2px solid #000 ;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover{
    background-color: #fff;
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #000;
}

/* Show scroll */
.show-scroll{
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll-bar-color2);
}

@media screen and (max-width: 770px){
  .header{
    top: 0;
    bottom: initial;

  }
  .content{
    position: relative;
    top: -630px;
  }

}
@media screen and (max-width: 397px){
  .content{
    
    position: relative;
    top: -660px;
    
    
  }
  #contact-subtitle{
    
    font-size: 14px;
    margin-bottom: var(--mb-3);
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    position: relative;
    top: 580px;
    color: var(--body-color);
  }
 
}
@media screen and (max-width:364px){
  .content{
    
    position: relative;
    top: -720px;
    
    
  }
  #contact-subtitle{
    
    font-size: 13px;
    margin-bottom: var(--mb-3);
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    position: relative;
    top: 595px;
    color: var(--body-color);
  }
  #wave{
    position: relative;
    top: -740px;
  }
}
